<mat-card class="container">
  <mat-card-title>Rejestracja</mat-card-title>
  <mat-card-content class="container__form" [formGroup]="form">
    <mat-form-field appearance="fill" class="container__form--items">
      <mat-label>Nazwa użytkownika</mat-label>
      <input matInput placeholder="Minimum 3 znaki" formControlName="name" />
      <mat-error *ngIf="!!form.controls.name?.errors?.minlength"
        >Podana nazwa użytkownika jest za krótka!</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill" class="container__form--items">
      <mat-label>Podaj e-mail</mat-label>
      <input matInput placeholder="123@gmail.com" formControlName="email" />
      <mat-error *ngIf="form.controls.email.invalid">
        Podany email jest nieprawidłowy!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="container__form--items">
      <mat-label>Podaj hasło</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
        placeholder="Minimum 10 znaków"
      />
      <mat-error *ngIf="!!form.controls.password?.errors?.minlength"
        >Podane hasło jest za krótkie!</mat-error
      >
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="fill" class="container__form--items">
      <mat-label>Powtórz hasło</mat-label>
      <input
        matInput
        [type]="hideRepeatedPassword ? 'password' : 'text'"
        formControlName="repeatedPassword"
      />
      <mat-error *ngIf="!!form.controls.repeatedPassword.errors?.mustBeSame"
        >Podane hasła różnią się!</mat-error
      >
      <button
        mat-icon-button
        matSuffix
        (click)="hideRepeatedPassword = !hideRepeatedPassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideRepeatedPassword"
      >
        <mat-icon>{{
          hideRepeatedPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>
  </mat-card-content>
  <mat-error *ngIf="form.invalid && form.touched"
    >Formularz został wypełniony nieprawidłowo!</mat-error
  >
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button mat-button (click)="onRegister()">Zarejestruj się</button>
    <button mat-button (click)="change()">Zaloguj się</button>
  </mat-card-actions>
</mat-card>
