@import "../../../../shared/utilities/variables/colors";

:host {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
}

.container {
  width: 30%;
  height: 60%;
  border: 1px solid black;
  border-radius: $radius;
  display: flex;
  background-color: $purple;
  box-shadow: $box-shadow;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 0 1 100%;
  position: relative;
  & > * {
    width: 90%;
    display: flex;
    justify-content: center;
    background-color: $gray;
    border-radius: $radius;
    border: 1px solid transparent;
    box-shadow: $box-shadow;

    &:hover {
      border: 1px solid black;
    }
  }
}
