<div class="container">
  <mat-nav-list>
    <mat-list-item [routerLink]="['/create']">
      <mat-icon matListIcon>account_balance</mat-icon>
      <a matLine>Stwórz grę</a>
    </mat-list-item>
    <mat-list-item [routerLink]="['/custom']">
      <mat-icon matListIcon>account_balance</mat-icon>
      <a matLine>Twoje gry</a>
    </mat-list-item>
    <mat-list-item [routerLink]="['/games']">
      <mat-icon matListIcon>account_balance</mat-icon>
      <a matLine>Wszystkie gry</a>
    </mat-list-item>
    <mat-list-item [routerLink]="['/user']">
      <mat-icon matListIcon>account_balance</mat-icon>
      <a matLine>Profil</a>
    </mat-list-item>
    <mat-list-item [routerLink]="['/author']">
      <mat-icon matListIcon>account_balance</mat-icon>
      <a matLine>O Autorze</a>
    </mat-list-item>
    <mat-list-item [routerLink]="['/auth']" (click)="onLogout()">
      <mat-icon matListIcon>account_balance</mat-icon>
      <a matLine>Wyloguj</a>
    </mat-list-item>
  </mat-nav-list>
</div>
