<div class="container">
  <h1>Menu</h1>
  <div class="container__btns">
    <button
      class="container__btns--margin"
      mat-raised-button
      color="primary"
      [routerLink]="['custom']"
    >
      Twoje plany
    </button>
    <button
      class="container__btns--margin"
      mat-raised-button
      color="primary"
      [routerLink]="['create']"
    >
      Stwórz swój plan
    </button>
    <button
      class="container__btns--margin container__btns--last"
      mat-raised-button
      color="primary"
      [routerLink]="['plans']"
    >
      Gotowe plany
    </button>
  </div>
</div>
